// Fonts
@font-face {
    font-family: conthrax;
    src: url(../fonts/conthrax.ttf);
}
@font-face {
    font-family: locust;
    src: url(../fonts/locust.tttf);
}


body {
  background: url("http://media.moddb.com/images/articles/1/181/180861/Galaxy_Rip.jpg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  margin: 0;
  box-sizing: border-box;
}
//----------------------------------------------------------------
.people {
  height: 30rem;
  width: 10rem;
  position: absolute;
  bottom: 0;
  margin-bottom: -7rem;
}

.head {
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  // box-shadow: 0 0 20px white;
  border: 2px solid black;
}

.body {
  border-radius: 100%;
  height:20rem;
  width: 10rem;
  border: 2px solid gray;

}
//-----------------------------------------------------------------------

.controls{
  position: absolute;
  padding: 10px;
  background: black;
  border: 3px solid white;
  color: white;
  border-radius: 15px;

  &:hover {
      background: lighten(black, 20%);
      box-shadow: 0 0 20px white;
  }
  &:active {
      border: 4px solid white;
      box-shadow: 0 0 30px white;
  }
}


#refresh-btn {
    top: 3rem;
    left: 3rem;
}
#continue-btn {
    top: 3rem;
    right: 3rem;
    font-size: 1.5em;
}

.show {
    display: inline-block;
}
.hide {
    display: none;
}
//----------------------------------------------------------------

#first-person {
  left: 10vw;

  .head {
    background: url("https://openclipart.org/image/2400px/svg_to_png/220907/Circles-In-Circle.png");
    background-size: 100% 100%;
  }

  .body {
    background: url("http://kingofwallpapers.com/blue/blue-005.jpg");
    background-size: 100% 100%;
  }
}

#second-person {
  right: 10vw;

   .head {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Color_circles_15_x_20.svg/1280px-Color_circles_15_x_20.svg.png");
     background-size: 100% 100%;
  }

  .body {
    background: url("https://africa.si.edu/exhibits/inscribing/images/eduimages/adinkra-cloth-fullLG.jpg");
  }
}

//-----------------------------------------------------------------------
.speech {
  background: white;
  font-family: sans-serif;
  border: 5px solid red;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  display: none;
  font-family: conthrax;
  font-weight: bold;

  p {
    margin: 0;
  }

  &::first-letter {
      font-size: 1.5em;
  }
}


#first-person-speech {
  left: 40vw;
  top: 15vh;
  border: 5px solid white;
  background: url("https://wallpaperscraft.com/image/dark_circle_gray_black_9834_1920x1080.jpg");
  background-size: 100% 100%;
  color: white
}

#second-person-speech {
  right: 40vw;
  top: 25vh;
  border: 5px solid black;
  background: url("http://www.tmwallpaper.com/mod/abstract-light/1920x1200/light-abstract-wide-wallpaper-1920x1200-010.jpg");
  background-size: 100% 100%;
  color: black;
}
