// Fonts
@font-face {
    font-family: conthrax;
    src: ('../fonts/conthrax.ttf');
}
@font-face {
    font-family: locust;
    src: ('../fonts/locust.ttf');
}

// Variables
@mixin thin-border($color) {
    border: 3px solid $color;
}

@mixin thick-border {
    border: 5px solid white;
}

// ============================================================
body {
  background: black;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
//----------------------------------------------------------------
.people {
  height: 30rem;
  width: 10rem;
  position: absolute;
  bottom: 0;
  margin-bottom: -7rem;
}

.head {
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  @include thin-border(black);
}

.body {
  border-radius: 100%;
  height:20rem;
  width: 10rem;
  @include thin-border(gray);

}
//-----------------------------------------------------------------------

.controls{
  position: absolute;
  top: 2rem;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 15px;
  font-size: 1.5em;
  @include thick-border;

  &:hover, &:focus {
      background: lighten(black, 20%);
      box-shadow: 0 0 20px white;
  }
  &:active {
      border: 4px solid white;
      box-shadow: 0 0 20px white;
  }
}


#refresh-btn {
    left: 3rem;
}
#continue-btn {
    right: 3rem;
    font-weight: bold;
}
//----------------------------------------------------------------

#overlay {
    z-index: 5;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(255,255,255,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    button {
        color: black;
        text-shadow: 0 0 5px white;

        &:hover {
            text-shadow: 0 0 10px white;;
        }
    }
}






//-----------------------------------------------------------------

#first-person {
  left: 10vw;

  .head {
    background:#00ccff;
    background-size: 100% 100%;
  }
  .body {
    background: #0066cc;
    background-size: 100% 100%;
  }
}

#second-person {
  right: 10vw;

   .head {
    background:#6666ff;
     background-size: 100% 100%;
  }
  .body {
    background:#666699;
  }
}

//-----------------------------------------------------------------------
.speech {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  position: absolute;
  display: none;

      p {
        margin: 0;
        border-radius: 5px;
        padding: 5px;
      }

      &::first-line {
            font-weight: bold;
      }
}


#first-person-speech {
  left: 20vw;
  top: 15vh;
  background: url("https://wallpaperscraft.com/image/dark_circle_gray_black_9834_1920x1080.jpg");
  background-size: 100% 100%;
  color: white;
  @include thin-border(white);

  p {
      background: rgba(0,0,0,0.8);
  }
}

#second-person-speech {
  right: 20vw;
  top: 20vh;
  background: url("http://www.tmwallpaper.com/mod/abstract-light/1920x1200/light-abstract-wide-wallpaper-1920x1200-010.jpg");
  background-size: 100% 100%;
  color: black;
  @include thin-border(black);

  p {
      background: rgba(255,255,255,0.8);
  }
}
