<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css" />
    </head>

    <body>
        <!-- Buttons -->
        <button id="continue-btn"> Continue </button>
        <button id="refresh-btn"> Back to beginning </button>


        <!-- First Person -->
        <div id="first-person" class="people">
          <div class="head"></div>
          <div class="body"></div>
        </div>

         <div id='first-person-speech' class="speech">
         </div>


        <!-- Second Person -->
        <div id="second-person" class="people">
            <div class="head"></div>
          <div class="body"></div>
        </div>

        <div id='second-person-speech' class="speech">
        </div>

    </body>

    <script src="../js/action.js"></script>
</html>
