<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <body>
    <div>
      <button id="continue"> Continue </button>
      <button> Click Here! </button>
    </div>

      <div id="first-person">
        <div class="head"></div>
        <div class="body"></div>
        <div class="speechone"> </div>
      </div>

      <div id="second-person">
        <div id="head"></div>
        <div id="body"></div>
        <div class="speechtwo"> </div>
      </div>

    <script src="../js/action.js">

    </script>

  </body>
</html>
