<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/style.css" />
    </head>

    <body>
        <!-- Buttons -->
        <button class="controls" id="refresh-btn"> Back to beginning </button>
        <button class="controls" id="continue-btn"> Continue </button>


        <!-- First Person -->
        <div id="first-person" class="people">
          <div class="head"></div>
          <div class="body"></div>
        </div>

         <div id='first-person-speech' class="speech">
         </div>


        <!-- Second Person -->
        <div id="second-person" class="people">
            <div class="head"></div>
          <div class="body"></div>
        </div>

        <div id='second-person-speech' class="speech">
        </div>

    </body>

    <script
			  src="http://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
    <script src="../js/action-with-JQ.js"></script>
</html>
